@using System.Diagnostics
@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<backend.Models.Event>

@{
    ViewData["Title"] = "Home";
}
<div class="row pb-3">
    <div class="col-md-4">
        <div class="card text-center">
            <h5 class="card-header"><i class="fas fa-users"></i>&nbsp;Groups</h5>
            <div class="card-body">
                <h6 class="card-title">
                    Register for a group
                </h6>
                @if (User.IsInRole("ADMIN, ELEVATED, BASIC")){
                <a asp-controller="Groups" asp-action="Index" class="btn btn-primary">Enroll</a>
                }
                else{
                <a class="btn btn-primary disabled text-white">Enroll</a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <h5 class="card-header"><i class="far fa-calendar-alt"></i>&nbsp;Events</h5>
            <div class="card-body">
                <h6 class="card-title">
                    Register for a event
                </h6>
                <a asp-controller="Events" asp-action="Index" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <h5 class="card-header"><i class="fas fa-map-marker"></i>&nbsp;Locations</h5>
            <div class="card-body">
                <h6 class="card-title">
                    Register a custom location
                </h6>
                @if (User.IsInRole("ADMIN, ELEVATED, BASIC"))
                {
                    <a asp-controller="Locations" asp-action="Index" class="btn btn-primary">Add</a>
                }
                else
                {
                    <a class="btn btn-primary disabled text-white">Add</a>
                }
                </div>
        </div>
    </div>
</div>

@*Calendar placeholder*@
<div class="calendar-responsive">
    <div id="calendar"></div>
</div>

@*Details modal, activated on event click*@
<div class="modal" id="event_details" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="detail-title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Description</h5>
                <p id="detail-description"></p>

                <h5>Locations</h5>
                <p id="detail-locations"></p>

                <h5>Attendees</h5>
                <p id="detail-attendees"></p>

                <h5>Owners</h5>
                <p id="detail-owners"></p>

                <h5>Details</h5>
                <p>
                    <i class="far fa-calendar-alt"></i> <span id="detail-start-date"></span>
                </p>
                <p>
                    <i class="far fa-clock"></i> <span id="detail-time-duration"></span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
