@model IEnumerable<backend.Models.User>

@{
    ViewData["Title"] = "Deleted People";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/crud.css"/>
}

<div class="row">
    <div class="col-12">
        <div class="table-header">
            <h2><i class="far fa-calendar-alt"></i> Removed users</h2>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-controller="Users" asp-route-id="@user.Id">
                                    @Html.DisplayFor(modelItem => user.DisplayName)
                                </a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
