@model backend.Models.Location

@{
    ViewData["Title"] = "New Location";
}

<h2>Create Location</h2>
<hr/>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-row">
        <div class="form-group col-12">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" required class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-12">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="Latitude" class="control-label"></label>
            <input asp-for="Latitude" class="form-control" />
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="Longitude" class="control-label"></label>
            <input asp-for="Longitude" class="form-control" />
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>
        <div class="form-group col-12">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </div>
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
