body {
    margin-top: 85px;
    background-color: gainsboro;
    font-family: Ubuntu, serif, Arial;
}

.font-weight-medium {
    font-weight: 500;
}

.card-date{
}

.sc-body{
    border-radius: 5px;
    background-color: white;
}

.manage-container {
    padding: 15px;
}

.card-info{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
