body {
    background-color: gainsboro;
    font-family: Ubuntu, serif, Arial;
    margin-top: 56px;
}

.card p {
    margin: 0;
}

.card.card-date {
    cursor: pointer;
}

.card.card-date:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.calendar-responsive,
.table-responsive {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.calendar-responsive {
    padding: 15px;
}

.modal {
    margin-top: 56px;
}

.modal .modal-body h5 {
    color: #6C757D;
    margin-bottom: 0;
}

.event-details {
    border-radius: 15px;
    padding: 15px;
}

.detail-item {
    background: white;
    border-radius: 10px;
}

.table-header {
    background-color: #343A40;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.table-header + .table-responsive {
    border-radius: 0px 0px 4px 4px;
    margin: 0;
}

.table-header h2 { margin: 0; }
.table-header a { float: right; }
