@model backend.Models.Group

@{
    ViewData["Title"] = "Delete";
}

<div class="sa-container">
    <h2>Delete Group</h2>
    <hr/>

    <b>@Html.DisplayNameFor(model => model.Name)</b>
    <p>@Html.DisplayFor(model => model.Name)</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-controller="People" asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
