@model backend.Models.Group

@{
    ViewData["Title"] = "Group Details";
}

<h2>Group Details</h2>
<hr/>

<b>@Html.DisplayNameFor(model => model.Name)</b>
<p>@Html.DisplayFor(model => model.Name)</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="People" asp-action="Index" class="btn btn-light">Back to List</a>
</div>
