@using Type = backend.Types.Type
@using Role = backend.Types.Role
@model backend.Models.User

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <p style="background-color: #f00; color: #fff; padding: 10px;">
                Should we create users from this screen or do they need to create an account first?
                <br/>
                <a style="color: #fff; text-decoration: underline" asp-controller="Manage" asp-action="Index">Edit/create account</a>
            </p>
@*            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
@*            <div class="form-group">*@
@*                <label asp-for="FirstName" class="control-label"></label>*@
@*                <input asp-for="FirstName" required class="form-control"/>*@
@*                <span asp-validation-for="FirstName" class="text-danger"></span>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <label asp-for="Infix" class="control-label"></label>*@
@*                <input asp-for="Infix" class="form-control"/>*@
@*                <span asp-validation-for="Infix" class="text-danger"></span>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <label asp-for="LastName" class="control-label"></label>*@
@*                <input asp-for="LastName" required class="form-control"/>*@
@*                <span asp-validation-for="LastName" class="text-danger"></span>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <label asp-for="Locale" class="control-label"></label>*@
@*                <input asp-for="Locale" class="form-control"/>*@
@*                <span asp-validation-for="Locale" class="text-danger"></span>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <label asp-for="Type" class="control-label"></label>*@
@*                <select asp-for="Type" asp-items="Html.GetEnumSelectList<Type>()" class="form-control"></select>*@
@*                <span asp-validation-for="Type" class="text-danger"></span>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <label asp-for="Role" class="control-label"></label>*@
@*                <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="form-control"></select>*@
@*                <span asp-validation-for="Role" class="text-danger"></span>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <label asp-for="ApplicationUser" class="control-label"></label>*@
@*                <select asp-for="ApplicationUser"*@
@*                        asp-items="@ViewBag.ApplicationUsers"*@
@*                        class="form-control">*@
@*                </select>*@
@*            </div>*@
@*            <div class="form-group">*@
@*                <input type="submit" value="Create" class="btn btn-default"/>*@
@*            </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-controller="People" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
